.navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: teal;
    padding: 0;
}

.navbar-items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10;
    list-style: none;
    text-align: center;
    width: 50vw;
    justify-content: end;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.nav-links:hover {
    background-color: #6d76f7;
    border-radius: 4px;
    /* transition: all 0.2 ease-out; */
}